.HomePageDiv
{
  margin: 0 15vw;
}

.DivGlassmorphism
{
  padding: 1rem 1.5rem;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.411);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
}