:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

body {
  margin: 0;
}

*
{
  font-family: system-ui, Arial, sans-serif;
}